[Desktop Entry]
Name=WMacro
GenericName=Macro Automation Tool
Comment=Macro recorder for wayland
Keywords=macro;keyboard;mouse;automation;
Exec=wmacro
Icon=wmacro
Type=Application
Categories=Utility;Accessibility;
Terminal=false
StartupNotify=true
